.app_parallax{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    h2{
        margin: 50px 0 0 0;
        font-size: 70px;
        font-weight: 400;
    }
    span{
        font-size: 25px;
        margin-bottom: 10px;
    }
    a{
        padding: 10px 30px;
        background-color: rgb(38, 38, 38);
        color: rgb(229, 229, 229);
        transition: .4s ease;
        border-radius: 30px;

    }
    a:hover{
        color: rgb(38, 38, 38);
        background-color: rgb(229, 229, 229);
    }
}

.parallax_items{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;

    .line1{
        grid-column: 1/2;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 180px;
        img{
            width: 100%;
        }
    }
    .line2{
        grid-column: 2/3;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 180px;
        img{
            width: 100%;
        }
    }
    .line3{
        grid-column: 3/4;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 180px;
        img{
            width: 100%;
        }
    }
    .line4{
        grid-column: 4/6;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 320px;
        img{
            width: 100%;
        }
    }
    .line5{
        grid-column: 6/7;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 180px;
        img{
            width: 100%;
        }
    }
    .line6{
        grid-column: 7/8;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 180px;
        img{
            width: 100%;
        }
    }
    .line7{
        grid-column: 8/9;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 180px;
        img{
            width: 100%;
        }
    }
}