.cow4 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: rgb(107, 111, 98);
  background: linear-gradient(
    0deg,
    rgba(107, 111, 98, 1) 0%,
    rgba(58, 61, 52, 1) 100%
  );

  &-info {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(226, 226, 226);
    h2 {
      font-size: 70px;
    }
    span {
      letter-spacing: 2px;
      font-size: 20px;
    }
    a {
      display: block;

      padding: 15px 60px;
      background-color: white;
      color: black;
      border-radius: 30px;
      font-size: 20px;
      font-weight: 500;
      transition: .5s ease-in-out;
    }
    a:hover {
      background-color: rgb(43, 43, 43);
      color: rgb(226, 226, 226);
    }
  }
  img {
    height: 100%;
    width: 100%;
    transform: translate(0%, 30%);
    display: block;
  }
}
