.active {
  background-color: rgb(234, 234, 234);
  color: rgb(44, 44, 44);
  transition: 0.7s ease;
}
.header_app {
  transition: 0.7s ease;
  transition-delay: 0.3s;

  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  position: absolute;
  color: white;
  z-index: 3;
  &-nav {
    width: 100%;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    a {
      font-size: 14px;
      background-color: transparent;
      transition: 0.3s ease;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
    a:hover {
      border-bottom: 1px solid black;
    }
    a:first-of-type {
      font-size: 25px;
      background-color: transparent;
      font-weight: 700;
    }
  }
}

.bike-select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  padding: 10px 10px;
  transition: 0.5s ease;
  opacity: 0;
  transform: translateY(-120%);
  background-color: rgb(234, 234, 234);
  color: rgb(45, 45, 45);
  .single-bike {
    width: 33%;
    display: flex;
    color: white;
    h3 {
      width: 50%;
      text-align: center;
      font-size: 25px;
    }
    span {
      width: 50%;
      text-align: center;
      font-size: 20px;
    }
    gap: 10px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    img {
      transition: transform 0.5s ease;
      height: 120%;
      height: 320px;
      width: 120%;
      transform: translateY(20%);
      object-fit: cover;
      display: block;
    }
  }
  .bike-1 {
    background: linear-gradient(180deg, #3c3f36, #767b6c);
    border-radius: 5px;
    padding: 10px 0 0 0;
  }
  .bike-2 {
    background: linear-gradient(180deg, #4a4841, #b5b2a3);
    border-radius: 5px;
    padding: 10px 0 0 0;
  }
  .bike-3 {
    background: linear-gradient(180deg, #bdbdbd, #dfdfdf);
    color: black;
    border-radius: 5px;
    padding: 10px 0 0 0;
  }
  .bike-1:hover,
  .bike-2:hover,
  .bike-3:hover {
    img {
      transform: translate(15%, 20%);
    }
  }
}
.active_bike {
  opacity: 1;
  transform: translateY(0);
}



.work{
  background-color: #3c3f36;
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    font-size: 70px;
    color: #b5b2a3;
  }
  span{
    font-size: 25px;
    width: 75%;
    color: #b5b2a3;

    margin: 15px;
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
  }
}